Problem Statement

*Analytics vidhya conducted an assesment test to hire a Data Scientist. the candidates were evaluated on 5 differnt subjects A, B, C, D and E. The marks of 5 differnt subject out of 100 are given below. find out who scored highest mark in the subject B?

In [2]:
#student marks

student_mark = [['Name', ['A', 'B', 'C', 'D', 'E']],
               ['Ankit', [41, 34, 45, 55, 63]],
               ['Aravind',[42, 23, 34, 44, 53]],
               ['Lakshay',[32, 23, 13, 54, 67]],
               ['Gyan',[23, 82, 23, 63, 34]],
               ['Pranav',[21, 23, 25, 56, 56]]
               ]

Let's try to access the first index of the list.

In [3]:
student_mark[0]

['Name', ['A', 'B', 'C', 'D', 'E']]

Here the first element in the index is similar to headeers in the CSV file. So, we will slice the list from the second element.

In [4]:
student_mark[1]

['Ankit', [41, 34, 45, 55, 63]]

Now, each element in the list from the index 1 contains 2 elements, the first one is the Name and second one is list of marks.

In [5]:
student_mark[1][0]

'Ankit'

In [6]:
student_mark[1][1]

[41, 34, 45, 55, 63]

Now, the student marks are in order A, B, C, D and E. and we need to access the value at index 1 to get the marks in subject B.

In [7]:
student_mark[1][1][1]

34

That's the marks of Ankit in Subject B.

Now, we will solve the problem step by step.
Who scored the highest marks in the subject B.

Step1 : Select name of student and marks in subject B

In [8]:
for student in student_mark[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    print(name, marks_in_B)

Ankit 34
Aravind 23
Lakshay 23
Gyan 82
Pranav 23

Step2 : Store the filtered name and marks in another list.

In [27]:
#lists to store the marks
student_with_mark_B = []

for student in student_mark[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    student_with_mark_B.append([marks_in_B, name])

In [28]:
student_with_mark_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

Step3 : Sort the list. (We Kept the marks as the first index).

In [29]:
sorted(student_with_mark_B)

[[23, 'Aravind'], [23, 'Lakshay'], [23, 'Pranav'], [34, 'Ankit'], [82, 'Gyan']]

Step4 : Get the final index of the sorted list.

In [31]:
sorted(student_with_mark_B)[-1]

[82, 'Gyan']

In [32]:
sorted(student_with_mark_B)[-1][1]

'Gyan'

In [35]:
sorted(student_with_mark_B, reverse = True)[0][1]

'Gyan'

So, we got the answer of the first question. Gyan has scored the highest marks in subject B.